[submodule "system/dircolors"]
	path = system/dircolors
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
